@{
    ViewData["Title"] = "Home Page";
}
@model List<Project>


<!-- Hero Section -->

<section id="hero" class="hero section dark-background">
    <canvas id="particle-canvas" style="" height="669" width="1142"></canvas>

    <img src="~/img/hero-bg-2.jpg" alt="" class="hero-bg">

    <div class="container">
        <div class="row gy-4 justify-content-between">
            <div class="col-lg-4 order-lg-last hero-img" data-aos="zoom-out" data-aos-delay="100">
                @*                 <img class="img-fluid animated" src="~/img/hero-img.png" alt="خلفية">
 *@            </div>

            <div class="col-lg-6  d-flex flex-column justify-content-center" data-aos="fade-in">


                <h1>الذكاء الثالث...<span></span></h1>
                <p>شريكك في التحوّل الرقمي والتعليمي المستدام</p>
                <div class="d-flex">
                    <a href="#about" class="btn-get-started">Get Started</a>
                    <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
                       class="glightbox btn-watch-video d-flex align-items-center">
                        <i class="bi bi-play-circle"></i><span>
                            Watch
                            Video
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
    </svg>


</section><!-- /Hero Section -->
<!-- About Section -->
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

            <div class="col-md-6 col-lg-5 order-md-1 order-2 content">
                <h2>من نحن</h2>
                <p>
                    تأسست شركة الذكاء الثالث لتقنية المعلومات عام 2018م كشركة سعودية متخصصة في تطوير الحلول التقنية والتعليمية،
                    تجمع بين الخبرة التقنية والتميز في التعليم الإلكتروني لتقديم خدمات رقمية متكاملة تدعم التحول الرقمي للمؤسسات
                    والجهات التعليمية وغير الربحية.
                    <br />تسعى الشركة إلى تمكين عملائها من بناء بيئات رقمية ذكية من خلال تطوير الأنظمة والمواقع والتطبيقات، وتصميم
                    المقررات الإلكترونية، وبناء الهويات الرقمية، وتقديم الاستشارات والتدريب التقني، بما يحقق الكفاءة التشغيلية
                    والأثر المستدام، وبما يتماشى مع توجهات التحول الوطني ورؤية المملكة 2030.
                </p>
            </div>

            <div class="col-md-6 col-lg-7 col-12   order-md-2 order-1">
                <div class="row gy-4 icon-boxes">

                    <div class="col-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <img src="~/img/home/1.png" class="item-image" />
                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <img src="~/img/home/2.png" class="item-image" />

                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box">
                            <img src="~/img/home/3.png" class="item-image" />

                        </div>
                    </div> <!-- End Icon Box -->

                    <div class="col-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <img src="~/img/home/4.png" class="item-image" />

                        </div>
                    </div> <!-- End Icon Box -->

                </div>
            </div>

        </div>
    </div>
    <div class="container mt-5">

        <div class="row gy-md-4 align-items-center about-item">
            <div class="col-md-5 d-flex align-items-center justify-content-center" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/img/home/Our vision2.png" class="item-image" alt="">
            </div>
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                <h2>رؤيتنا</h2>
                <p class="fst-italic">
                    أن نكون الشريك التقني والتعليمي الرائد في تطوير الحلول الرقمية والتعليمية المبتكرة، التي تمكّن المؤسسات من التحول الذكي وتحقق أثرًا مستدامًا في المجتمع.
                </p>

            </div>
        </div><!-- Features Item -->

        <div class="row gy-md-4 align-items-center about-item">
            <div class="col-md-5 order-1 order-md-2 d-flex align-items-center justify-content-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/img/home/Our message.png" class="item-image" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
                <h2>رسالتنا</h2>
                <p class="fst-italic">
                    نُمكّن المؤسسات من التحول الرقمي والتعليمي من خلال حلول تقنية تجمع بين التطوير البرمجي والتصميم الإبداعي والخبرة التعليمية، لتحقيق جودة الأداء وفاعلية الأثر.
                </p>

            </div>
        </div><!-- Features Item -->

        <div class="row gy-md-4 align-items-center about-item">
            <div class="col-md-5 order-1  d-flex align-items-center justify-content-center" data-aos="zoom-out">
                <img src="~/img/home/Our goals.png" class="item-image" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-2" data-aos="fade-up">
                <h2>أهدافنا</h2>
                <ol>
                    <li class="fst-italic">تمكين المؤسسات من التحول الرقمي وتحسين كفاءتها التشغيلية.</li>
                    <li class="fst-italic">تطوير التعليم الإلكتروني عبر أنظمة ومحتوى تفاعلي وفق المعايير المحلية والعالمية.</li>
                    <li class="fst-italic">تعزيز الحضور الرقمي للجهات من خلال التسويق والتصميم الإبداعي.</li>
                    <li class="fst-italic">نقل الخبرة التقنية والمعرفة عبر الاستشارات والتدريب النوعي.</li>
                </ol>

            </div>
        </div><!-- Features Item -->

        <div class="row mt-5 gy-md-4 align-items-center about-item">

            <div class="col-12" data-aos="fade-up">
                <h2>قيمنا</h2>
                <div class="hexagon-grid justify-content-center">
                    <div class="hexagon-row flex-wrap">
                        <span class="hexagon-wrapper">
                            <div class="hexagon hex1">الابتكار والإبداع</div>
                        </span>
                        <span class="hexagon-wrapper">
                            <div class="hexagon hex2">الجودة والإتقان</div>
                        </span>
                        <span class="hexagon-wrapper">
                            <div class="hexagon hex3">التكامل بين التقنية والتعليم</div>
                        </span>

                    </div>
                    <div class="hexagon-row flex-wrap">
                        <span class="hexagon-wrapper">
                            <div class="hexagon hex4">الشفافية والموثوقية</div>
                        </span>
                        <span class="hexagon-wrapper">
                            <div class="hexagon hex5">التمكين والتطوير المستمر</div>
                        </span>
                    </div>
                </div>

            </div>
        </div><!-- Features Item -->

    </div>
</section><!-- /About Section -->
<section id="services-section">
    <div class="services-container container ">
        <h2 class="section-title"> <i class="bi bi-server me-2"></i>مجالاتنا وخدماتنا</h2>

        <!-- الشبكة -->
        <div class="row g-3 mx-lg-5 mx-xl-0 justify-content-center">

            <!-- بطاقة 1 -->
            <div class="col-12 col-md-6 col-xl-3  justify-content-center d-flex">
                <div class="card service-card flex-fill">
                    <img src="https://via.placeholder.com/400x160?text=تطوير+الأنظمة" loading="lazy" alt="خدمات تطوير الأنظمة">
                    <div class="card-body d-flex flex-column">
                        <h5>خدمات تطوير الأنظمة والتطبيقات</h5>
                        <ul class="small">
                            <li>تطوير الأنظمة والمنصات الإلكترونية</li>
                            <li>تصميم وتطوير المواقع المؤسسية والتفاعلية</li>
                            <li>إنشاء تطبيقات الجوال (Android / iOS)</li>
                            <li>تكامل الأنظمة والربط البرمجي (APIs)</li>
                        </ul>
                        <p>هل ترغب في تطوير نظامك أو تطبيقك؟</p>
                        <a href="#" class="btn btn-gradient mt-auto w-100">اطلب هذه الخدمة الآن</a>
                    </div>
                </div>
            </div>

            <!-- بطاقة 2 -->
            <div class="col-12 col-md-6 col-xl-3  justify-content-center d-flex">
                <div class="card service-card flex-fill">
                    <img src="https://via.placeholder.com/400x160?text=التعليم+الإلكتروني" loading="lazy" alt="خدمات التعليم الإلكتروني">
                    <div class="card-body d-flex flex-column">
                        <h5>خدمات التعليم الإلكتروني والتحول التعليمي</h5>
                        <ul class="small">
                            <li>بناء وتشغيل أنظمة إدارة التعلم (LMS)</li>
                            <li>تصميم وتطوير المقررات التعليمية الإلكترونية</li>
                            <li>إنتاج الوسائط التعليمية (فيديو، إنفوجرافيك، عناصر تفاعلية)</li>
                            <li>التكامل مع المنصات الوطنية (FutureX، OERX)</li>
                        </ul>
                        <p>هل تسعى إلى تطوير تجربة تعليمية رقمية متميزة؟</p>
                        <a href="#" class="btn btn-gradient mt-auto w-100">اطلب هذه الخدمة الآن</a>
                    </div>
                </div>
            </div>

            <!-- بطاقة 3 -->
            <div class="col-12 col-md-6 col-xl-3  justify-content-center d-flex">
                <div class="card service-card flex-fill">
                    <img src="https://via.placeholder.com/400x160?text=التسويق+الرقمي" loading="lazy" alt="خدمات التسويق الرقمي">
                    <div class="card-body d-flex flex-column">
                        <h5>خدمات التسويق الرقمي والهوية المؤسسية</h5>
                        <ul class="small">
                            <li>تصميم وإدارة الهوية الرقمية</li>
                            <li>تطوير المحتوى التسويقي والإعلاني</li>
                            <li>تصميم واجهات وتجربة المستخدم (UX/UI)</li>
                            <li>إدارة الحملات الرقمية وتحليل الأداء</li>
                        </ul>
                        <p>هل ترغب في تطوير هوية مؤسستك وتعزيز وجودك الرقمي؟</p>
                        <a href="#" class="btn btn-gradient mt-auto w-100">اطلب هذه الخدمة الآن</a>
                    </div>
                </div>
            </div>

            <!-- بطاقة 4 -->
            <div class="col-12 col-md-6 col-xl-3 justify-content-center d-flex">
                <div class="card service-card flex-fill">
                    <img src="https://via.placeholder.com/400x160?text=الاستشارات+والتدريب" loading="lazy" alt="خدمات الاستشارات والتدريب">
                    <div class="card-body d-flex flex-column">
                        <h5>خدمات الاستشارات والتدريب التقني</h5>
                        <ul class="small">
                            <li>استشارات التحول الرقمي والتعليم الإلكتروني</li>
                            <li>تقييم الأنظمة التقنية وخطط التحسين</li>
                            <li>تدريب الفرق التقنية والتعليمية على الأدوات الحديثة</li>
                        </ul>
                        <p>هل تحتاج إلى استشارة أو تدريب متخصص لفريقك؟</p>
                        <a href="#" class="btn btn-gradient mt-auto w-100">اطلب هذه الخدمة الآن</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

</section>
<section id="Projects" class="projects section light-background ">
    <div class="container">
        <h2 class="section-title dark text-center mb-5">
            <i class="bi bi-briefcase-fill me-2"></i>أعمالنا
        </h2>

        @if (Model != null && Model.Any())
        {
            <div class="row g-4 justify-content-center">
                @foreach (var project in Model)
                {
                    <div class="col-auto">
                        <div class="adv-card">
                            <!-- صورة المشروع -->
                            @if (!string.IsNullOrEmpty(project.ImageUrl))
                            {
                                <div class="adv-card-image" 
                                     style="background-image: url('@project.ImageUrl'); background-size: cover; background-position: center;"
                                     role="img" 
                                     aria-label="@project.Title">
                                </div>
                            }
                            else
                            {
                                <div class="adv-card-image"
                                     aria-label="Abstract gradient background"
                                     role="img">
                                    <div class="d-flex align-items-center justify-content-center h-100">
                                        <i class="bi bi-image display-4 text-light"></i>
                                    </div>
                                </div>
                            }

                            <div class="adv-card-content">
                                <!-- عنوان المشروع -->
                                <p class="adv-card-title">@project.Title</p>

                                <!-- وصف المشروع -->
                                <p class="adv-card-description">
                                    @if (project.Description.Length > 120)
                                    {
                                        @(project.Description.Substring(0, 120) + "...")
                                    }
                                    else
                                    {
                                        @project.Description
                                    }
                                </p>

                                <!-- التاجات (Tags) -->
                                @if (!string.IsNullOrEmpty(project.Tags))
                                {
                                    <div class="adv-card-tags">
                                        @foreach (var tag in project.GetTagsList())
                                        {
                                            <span class="adv-card-tag">@tag</span>
                                        }
                                    </div>
                                }

                                <!-- زر التفاصيل -->
                                <div class="adv-card-footer">
                                    <a href="@project.Url"
                                       class="btn btn-gradient mt-auto w-100">
                                        <i class="bi bi-arrow-left me-2"></i>الرابط
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- زر عرض المزيد -->
            <div class="text-center mt-5">
                <a asp-controller="Projects" asp-action="Index" class="btn btn-gradient btn-lg">
                    <i class="bi bi-grid-3x3-gap me-2"></i>عرض جميع المشاريع
                </a>
            </div>
        }
        else
        {
            <!-- رسالة عدم وجود مشاريع -->
            <div class="text-center py-5">
                <i class="bi bi-inbox display-1 text-muted mb-4"></i>
                <h4 class="text-muted">لا توجد مشاريع حالياً</h4>
                <p class="text-muted">سيتم عرض مشاريعنا قريباً</p>
            </div>
        }
    </div>
</section>
<!-- Stats Section -->
@* <section id="stats" class="stats section light-background">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2 class="section-title">انجازاتنا</h2>
        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-emoji-smile"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Happy Clients</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-journal-richtext"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Projects</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-headset"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
                <i class="bi bi-people"></i>
                <div class="stats-item">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                          class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section> *@<!-- /Stats Section -->
@section scripts {
    <!-- lib JS Files -->
    <script src="~/lib/php-email-form/validate.js"></script>
    <script src="~/lib/aos/aos.js"></script>

    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/purecounter/purecounter_vanilla.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    @* <script>
      AOS.init();
    </script> *@

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>
}
<script>
    // modified version of random-normal
    function normalPool(o) { var r = 0; do { var a = Math.round(normal({ mean: o.mean, dev: o.dev })); if (a < o.pool.length && a >= 0) return o.pool[a]; r++ } while (r < 100) } function randomNormal(o) { if (o = Object.assign({ mean: 0, dev: 1, pool: [] }, o), Array.isArray(o.pool) && o.pool.length > 0) return normalPool(o); var r, a, n, e, l = o.mean, t = o.dev; do { r = (a = 2 * Math.random() - 1) * a + (n = 2 * Math.random() - 1) * n } while (r >= 1); return e = a * Math.sqrt(-2 * Math.log(r) / r), t * e + l }

    const NUM_PARTICLES = 600;
    const PARTICLE_SIZE = 0.3; // View heights
    const SPEED = 20000; // Milliseconds

    let particles = [];

    function rand(low, high) {
      return Math.random() * (high - low) + low;
    }

    function createParticle(canvas) {
      const colour = {
        r: 255,
        g: randomNormal({ mean: 125, dev: 20 }),
        b: 50,
        a: rand(0, 1),
      };
      return {
        x: -2,
        y: -2,
        diameter: Math.max(0, randomNormal({ mean: PARTICLE_SIZE, dev: PARTICLE_SIZE / 2 })),
        duration: randomNormal({ mean: SPEED, dev: SPEED * 0.1 }),
        amplitude: randomNormal({ mean: 16, dev: 2 }),
        offsetY: randomNormal({ mean: 0, dev: 10 }),
        arc: Math.PI * 2,
        startTime: performance.now() - rand(0, SPEED),
        colour: `rgba(${colour.r}, ${colour.g}, ${colour.b}, ${colour.a})`,
      }
    }

    function moveParticle(particle, canvas, time) {
      const progress = ((time - particle.startTime) % particle.duration) / particle.duration;
      return {
        ...particle,
        x: progress,
        y: ((Math.sin(progress * particle.arc) * particle.amplitude) + particle.offsetY),
      };
    }

    function drawParticle(particle, canvas, ctx) {
      canvas = document.getElementById('particle-canvas');
      const vh = canvas.height / 100;

      ctx.fillStyle = particle.colour;
      ctx.beginPath();
      ctx.ellipse(
        particle.x * canvas.width,
        particle.y * vh + (canvas.height / 2),
        particle.diameter * vh,
        particle.diameter * vh,
        0,
        0,
        2 * Math.PI
      );
      ctx.fill();
    }

    function draw(time, canvas, ctx) {
      // Move particles
      particles.forEach((particle, index) => {
        particles[index] = moveParticle(particle, canvas, time);
      })

      // Clear the canvas
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      // Draw the particles
      particles.forEach((particle) => {
        drawParticle(particle, canvas, ctx);
      })

      // Schedule next frame
      requestAnimationFrame((time) => draw(time, canvas, ctx));
    }

    function initializeCanvas() {
      let canvas = document.getElementById('particle-canvas');
      canvas.width = canvas.offsetWidth * window.devicePixelRatio;
      canvas.height = canvas.offsetHeight * window.devicePixelRatio;
      let ctx = canvas.getContext("2d");

      window.addEventListener('resize', () => {
        canvas.width = canvas.offsetWidth * window.devicePixelRatio;
        canvas.height = canvas.offsetHeight * window.devicePixelRatio;
        ctx = canvas.getContext("2d");
      })

      return [canvas, ctx];
    }

    function startAnimation() {
      const [canvas, ctx] = initializeCanvas();

      // Create a bunch of particles
      for (let i = 0; i < NUM_PARTICLES; i++) {
        particles.push(createParticle(canvas));
      }

      requestAnimationFrame((time) => draw(time, canvas, ctx));
    };

    // Start animation when document is loaded
    (function () {
      if (document.readystate !== 'loading') {
        startAnimation();
      } else {
        document.addEventListener('DOMContentLoaded', () => {
          startAnimation();
        })
      }
    }());
</script>